.searchCard {
    background-color: var(--smoke);
    border: 1px solid lightgray;
    padding: 10px 20px;
    max-width: 550px;
    margin: 15px auto;
}

.searchCard .avatar {
    width: 50px;
    height: auto;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 100%;
}

.searchCard .name {
    font-size: 20px;
    font-weight: bold;
}

.searchCard .source {
    float: right;
    font-size: 20px;
}

.searchCard .cardInfo {
    padding: 10px 5px;
}

.searchCard .cardInfo .cardInfoIcon {
    padding-right: 8px;
}

.searchCard .cardInfo .numRepositories {
    font-weight: bold;
}

.searchCard .cardButtons {
    padding-top: 5px;
    display: flex;
    justify-content: space-around;
}

.searchCard .cardButtons .cardButton {
    min-width: 25%;
}
