.details {
    margin: var(--navBar-height) 0;
}

.details .heading {
    background-color: var(--smoke);
    padding: 20px;
    text-align: center;
}

.details .heading .avatar {
    width: 20%;
    min-width: 140px;
    max-width: 180px;
    height: auto;
    border: 5px solid var(--primary);
    border-radius: 100%;
}

.details .heading .sourceIcon {
    padding-right: 2px;
}

.details .heading .name {
    padding-top: 10px;
    font-size: 30px;
    font-weight: bold;
}

.details .heading .joinDate {
    margin-right: 30px;
}

.details .heading .detailsIcon {
    padding-right: 5px;
}

.details .detailsSubtitle {
    padding-top: 10px;
    font-size: 30px;
    font-weight: bold;
}

.details .moreProjectsButtonWrapper {
    padding-top: 15px;
    text-align: center;
}
