.repoCard {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    background-color: var(--smoke);
    box-shadow: 2px 4px var(--lightgray);
    padding: 15px;
    min-height: 90%;
}

.repoCard .repoName {
    font-size: 20px;
    font-weight: bold;
}

.repoCard .repoDetailsIcon {
    padding-right: 5px;
}

.repoCard .description {
    font-size: 16px;
}

.repoCard .bottomRow {
    margin-top: auto;
}

.repoCard .starsAndForks {
    float: right;
}

.repoCard .forksIcon {
    padding-left: 15px;
}
