.repoCard {
    display: block;
    margin: 10px 0;
    background-color: var(--smoke);
    /* border: 1px solid black; */
    box-shadow: 2px 4px var(--lightgray);
    padding: 15px;
}

.repoCard .repoName {
    font-size: 20px;
    font-weight: bold;
}

.repoCard .repoDetailsIcon {
    padding-right: 5px;
}

.repoCard .starsAndForks {
    float: right;
}

.repoCard .forksIcon {
    padding-left: 10px;
}
