.auth {
    margin: var(--navBar-height) 0;
    text-align: center;
}

.auth .authForm input {
    display: block;
    min-width: 25%;
    margin: 10px auto;
    padding: 4px 8px;
}

.auth .switchMode {
    padding: 5px;
    text-decoration: underline;
    cursor: pointer;
}
