:root {
    --navBar-height: 50px;
    --primary: darkred;
    --smoke: #f5f5f5;
    --lightgray: lightgray;
    --github-theme: lightgray;
    --gitlab-theme: lightsalmon;
    --bitbucket-theme: lightblue;
}

body {
    margin: 0;
    font-size: 18px;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

.octicon {
    width: 18px;
    height: 18px;
}

.navBar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--lightgray);
    list-style-type: none;
    height: var(--navBar-height);
    z-index: 3;
    border-bottom: 3px var(--primary) solid;
    user-select: none;
}

.navBarContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 55%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.logo {
    float: left;
    font-size: 20px;
    font-weight: bolder;
}

.navBarRight {
    margin: 0;
    padding: 0;
    text-align: right;
}

.navBarRight li {
    margin-left: 15px;
}

.navItem {
    display: inline;
}

.navItem a {
    display: inline-block;
    color: black;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

.navItem a:hover {
    transform: scale(1.1);
}

.navItemActive {
    color: var(--primary) !important;
    font-weight: bolder;
}
